<%- include("partials/header.ejs") %> 
    <div class="info">
        <p>You can find me here!!</p>
       <a href="https://twitter.com/Kv7_o"><ion-icon name="logo-twitter" class="icons"></ion-icon></a> 
    </div>
<%- include("partials/footer.ejs") %> 
