<%- include("partials/header.ejs") %> 
    <div class="hero">
        <div class="notifications">
            <h5 class="paused">Paused!</h5>
            <h5 class="break">Break!</h5>
        </div>
        <div class="timer">
            <h1 id="countdown">25:00</h1>
        </div>
        <div class="actions">
            <ion-icon class="icons" id="play" data-aos="fade-up" data-aos-duration="1000" name="play-sharp"></ion-icon>
            <ion-icon class="icons" id="pause" data-aos="fade-up" data-aos-duration="1500" name="pause-outline"></ion-icon>
            <ion-icon class="icons" id="edit" data-aos="fade-up" data-aos-duration="2000" name="timer-outline"></ion-icon>
        </div>
    </div>
    <script src="/timer.js"></script>
<%- include("partials/footer.ejs") %> 



