<%- include("partials/header.ejs") %> 
<div class="container">
    <div class="nav">
        <div><p class="logo"><a href="">POMO</a></p></div>
        <div class="nav-req">
            <ul>
                <li><a href="/contact">contact</a></li>
                <li><a href="/about">about</a></li>
                <ion-icon class="icons contrast-icon" name="contrast-outline"></ion-icon>
            </ul>
        </div>
    </div>
    <div class="hero">
        <div class="timer">
            <h1>03:21</h1>
        </div>
        <div class="actions">
            <ion-icon class="icons" name="play-sharp"></ion-icon>
            <ion-icon class="icons" name="pause-outline"></ion-icon>
            <ion-icon class="icons" name="square"></ion-icon>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs") %> 


